<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordSearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='start.js') }}"></script>
    <script type="text/javascript">console.log("Hi")</script>
</head>
<body>
    <table id="grid">
    </table>
<!--    <button id="reset-word">Reset</button>-->
    <button id="submit-word">Submit</button>
    <p>Your word is:
    <div id="current-word"></div>
    <p>Your score is:
    <div id="score">0</div>
    </p>
</body>
</html>