<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordSearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='countdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js.cookie-2.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='start.js') }}"></script>
</head>
<body>
<div class="row">
    <div class="column-left">
        <table id="grid"></table>
    </div>
    <div class="column-centre">
        <button id="restart-game">Restart Game</button>
        <button id="new-game">New Game</button>
        <div id="timer">02:00</div>
        <p>Your word is:</p>
        <div id="current-word"></div>
        <p>Your score is:</p>
        <div id="score">0</div>
        <p>Your high score is:</p>
        <div id="highscore">No score achieved</div>
    </div>
    <div class="column-right">
        <table id="found-words">
            <thead>
                <tr>
                    <td>Word</td>
                    <td>Score</td>
                </tr>
            </thead>
            <tbody id="found-words-body">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>